spring:
  datasource:
    url: jdbc:postgresql://dpg-ch7urndgk4q7lmuleiq0-a.oregon-postgres.render.com:5432/mcsstockman
    username: ahmadou
    password: 17ndw8SvPzH1flAX3CB6NAyh4DGwOkZ3
    driver-class-name: org.postgresql.Driver
  jpa:
    database: POSTGRESQL
    hibernate:
      ddl-auto: update
      use-new-id-generator-mappings: true

    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
server:
  port: 8082
